<!-- <%- include ('../partials/content') %>
<%- include ('../partials/right-sidebar-list') %>
  -->

<div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                    <h4><a href="/blog/post/<%= post.id %>"><%= post.post_title %></a></h4>
                    <p>The main body of the post <%= post.post_body %></p>
                     <a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>